@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

h2, h3 {
  line-height:1.1;
  padding-top: 15px;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

.top_menu ul {
    list-style-type: none;
}

.top_menu ul li {
    display: inline-block;
    text-align: center;
    width: 110px; 
}

footer {
  width:270px;
  float: left;
  position: fixed;
  padding-top: 450px;
}