.container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #ddd; 
    border:solid 10px #2868b1;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

body {
    background-image: url(kyogre_groudon_background.jpg); 
    background-position: fixed; 
}

.navsection h1 {color: #3a96ff; font-family: noteworthy, sans-serif; 
    margin-left: 510px; overflow: auto; 
    font-size: 110px; width: 600px; margin-top: -450px; 
    clear: both; }
.navsection h2 {color: #cc1e1f; font-family: futura, typeface; 
    margin-right: 51px; overflow: auto; margin-top: -65px; 
    font-size: 50px; width: 400px; float: right; margin-bottom: -30px;
    clear: both}

.rayquaza {width: 425px; margin-left: 45px; margin-top: -8px; }

.motto {width: 650px; margin-left: 450px; margin-top: -58px; 
    margin-bottom: 30px; 
    color: #cc1e1f; font-family: futura, typeface; font-size: 20px; }


ul#menu { 
    margin-left: 50px; margin-bottom: 0px; padding: 10px; 
    font-family: noteworthy, sans-serif; font-size: 20px; 
}
ul#menu li {   
    display: inline-block; padding: 8px;
}

ul#menu ul.sub-menu {
    padding: 0px; margin-top: 0px; width: 179px; text-align: center;
}
ul#menu li, ul #menu .sub-menu li {
    list-style-type: none; 
}
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none; color: #f5dada; 
    padding: 5px; 
}
ul#menu li {
    position: relative; margin: 5px;
}
ul#menu li ul.sub-menu {display: none; 
    position: absolute; top: 58px; left: 0px; padding-bottom: 4px;
}

ul#menu li:hover ul.sub-menu  {
    display: block; background-color: #3a96ff; 
}
ul#menu li ul.sub-menu:hover {
    background-color: #3a96ff; color: #3a96ff;
}
ul#menu li:hover ul.sub-menu  li:hover a {
    color: #066de0; background-color: #ddd; 
}



li {
    color: #33f7ff; background: #3a96ff;
}
ul#menu .arrow {
    height: 20px; margin-left: 2px; 
}

.hidden {display: none; }

.animation {
    width: 1150px;
    height: 456px;
    margin-top: -10px; 
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    -webkit-animation-name: megaslideshow; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 24s; /* Chrome, Safari, Opera */
    animation-name: megaslideshow;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes megaslideshow {
    0%    {background-image: url(feathered_oras_main.png);}
    20%   {background-image: url(mega_metagross.png);}
    40%   {background-image: url(mega_charizard_x.png);}
    60%   {background-image: url(mega_pinsir.png);}
    80%   {background-image: url(mega_salamance.png);}
    100%  {background-image: url(feathered_oras_main.png);}


}


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



.navisection h1 {color: #3a96ff; font-family: futura, typeface; 
    margin-left: 688px; overflow: auto; 
    font-size: 75px; margin-top: -215px;
    clear: both; }
.navisection h2 {color: #cc1e1f; font-family: noteworthy, sans-serif; 
    margin-right: 60px; overflow: auto; margin-top: -30px; 
    font-size: 50px; float: right; 
    clear: both}
.judge {height: 200px; margin-left: 175px; margin-top: 10px;}


.ivmidsection h3 {margin-top: 175px; font-family: sathu, sans-serif;
    font-size: 42px; color: #3a96ff; margin-left: 100px;
}

.ivp {color: #cc1e1f; font-family: apple casual, sans-serif; margin-left: 10px; 
    font-size: 15px; padding: 10px; width: 750px; margin-top: -25px; line-height: 1.8em; 
}

.nature {float: right; margin-right: 80px;
}

.eevee {width: 400px; float: left; padding: 10px; height: 300px; margin-top: 10px; 
}

.navisection h4 {
    font-family: sathu, sans-serif; margin-bottom: 20px; 
    font-size: 40px; color: #3a96ff; margin-left: 590px;
}

.breedingbasics {width: 700px; font-size: 15px; margin-left: 415px;
    color: #cc1e1f; font-family: apple casual, sans-serif; line-height: 1.8em; 
}


.navigsection h1 {color: #3a96ff; font-family: futura, typeface; 
    margin-left: 700px; overflow: auto; 
    font-size: 75px; margin-top: -250px; 
    clear: both; }
.navigsection h2 {color: #cc1e1f; font-family: noteworthy, sans-serif; 
    margin-right: 60px; overflow: auto; margin-top: -30px; 
    font-size: 50px; float: right; 
    clear: both}
.sandshrew {margin-left: 125px; margin-top: -20px; 
    width: 350px; 
}

.evmidsection h3 {margin-top: 180px; font-family: sathu, sans-serif;
    font-size: 42px; color: #3a96ff; margin-left: 215px;
}

.evp {color: #cc1e1f; font-family: apple casual, sans-serif; margin-left: 10px; 
    font-size: 15px; padding: 10px; width: 750px; margin-top: -25px; line-height: 1.8em; 
}

.evpa {color: #cc1e1f; font-family: apple casual, sans-serif; float: right;
    font-size: 15px; padding: 10px; width: 750px; line-height: 1.8em; margin-top: -30px;
}

.horde {float: right; font-family: noteworthy, sans-serif; margin-right: 25px; 
    color: #3a96ff; background-color: #e8e8e8; height: 300px; margin-top: -24px; 
    border:solid 4px #cc1e1f;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.horde td {padding: 5px; text-align: center; }

.headlines {font-family: noteworthy, sans-serif; margin-right: 25px; 
    color: #3a96ff; text-decoration: underline; font-size: 19px; 
}

.evmidsection h4 {font-family: sathu, sans-serif;
    font-size: 42px; color: #3a96ff; margin-left: 600px;
}

.graph {float: left; margin-left: 15px; margin-top: 50px; padding-bottom: 20px; 
}


.phymidsection h3 {font-family: futura, sans-serif; margin-left: 60px;
    font-size: 75px; color: #3a96ff; margin-top: 10px;
}

.focusp {float: right; width: 250px; margin-right: 130px; margin-top: -60px; 
}

.salamencesec {font-family: noteworthy, sans-serif;
    font-size: 60px; margin-left: 150px; color: #cc1e1f; margin-top: -25px; 
}

.salamence {width: 400px; float: right; margin-right: 40px; margin-top: -175px; 
}
.backgroundinfo {width: 705px; margin-left: 30px; font-family: apple casual, sans-serif; 
    color: #3a96ff; font-size: 17px; margin-top: -25px; line-height: 1.6em;
}
.stats {margin-left: 120px; }
.stats2 {float: right; margin-right: 100px; margin-top: -110px; height: 390px; }

.moveset {font-family: noteworthy, sans-serif; width: 500px; height: 100px; 
    color: #3a96ff; background-color: #e8e8e8; margin-left: 70px; 
    border:solid 4px #cc1e1f; margin-top: 15px; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.moveset td {text-align: center; padding-right: 12px; }

.moveswhy {width: 546px; font-family: apple casual, sans-serif; 
    float: right; margin-right: 18px; line-height: 1.6em; color: #3a96ff; 
}

.talonflamesec {font-family: noteworthy, sans-serif;
    font-size: 60px; margin-left: 190px; color: #cc1e1f; margin-top: 125px; 
}

.talonflame {width: 220px; float: right; 
    margin-right: 130px; margin-top: -175px; margin-bottom: 30px; 
}

.altaria {float: right; width: 250px; margin-right: 120px; margin-top: -220px; 
}

.stats2altaria {float: right; margin-right: 70px; margin-top: -70px; height: 355px; 
}

.serperiorsec {font-family: noteworthy, sans-serif;
    font-size: 60px; margin-left: 225px; color: #cc1e1f; margin-top: 100px; 
}

.serperior {float: right; width: 230px; margin-right: 140px; margin-top: -150px; 
}

.stats2serperior {float: right; margin-right: 100px; margin-top: -60px; height: 344px; 
}

.miloticsec {font-family: noteworthy, sans-serif;
    font-size: 60px; margin-left: 240px; color: #cc1e1f; margin-top: -30px; 
}

.stats2dusknoir {float: right; margin-right: 100px; margin-top: -60px; height: 384px; 
}

.stats2weezing {float: right; margin-right: 100px; margin-top: -60px; height: 364px; 
}

.megaaggronsec {font-family: noteworthy, sans-serif;
    font-size: 60px; margin-left: 175px; color: #cc1e1f; margin-top: -30px; 
}

.blisseysec {font-family: noteworthy, sans-serif;
    font-size: 60px; margin-left: 250px; color: #cc1e1f; margin-top: -25px; 
}

.blissey {float: right; width: 240px; margin-right: 140px; margin-top: -170px; 
}

.stats2blissey {float: right; margin-right: 145px; margin-top: -40px; height: 324px; 
}

.stats2togekiss {float: right; margin-right: 130px; margin-top: -100px; height: 384px; 
}

.togekiss {float: right; width: 240px; margin-right: 140px; margin-top: -200px; 
}

.ferrothornsec {font-family: noteworthy, sans-serif;
    font-size: 60px; margin-left: 185px; color: #cc1e1f; margin-top: -25px; 
}

.stats2blaziken {float: right; margin-right: 70px; margin-top: -80px; height: 380px; 
}

.ninjask {width: 220px; float: right; 
    margin-right: 110px; margin-top: -175px; margin-bottom: 30px; 
}

footer {font-family: noteworthy, sans-serif; margin-left: 67px; 
    padding-top: 30px; padding-bottom: 30px; }

a:link {color: #33f7ff; text-decoration: none;}
a:hover {color: #33f7ff; text-decoration: underline;}
a:visited {color: #33f7ff; text-decoration: none;}
footer a:link {color: #cc1e1f; text-decoration: underline;}
footer a:hover {color: #cc1e1f; text-decoration: underline;}
footer a:visited {color: #cc1e1f; text-decoration: underline;}

